style
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

#title {
  font-weight: bold;
  text-shadow:1px 1px 1px rgb(53, 53, 21);
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: gray;
 font-family: Vegur, 'PT Sans', Verdana, sans-serif;

  margin: 0;
}
h3{
color:green
}
.azul {
color:blue
}
.rojo {
color:red
}